* {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 700;
  text-align: center;
  font-family: 'Skranji', sans-serif;
}

hr {
  width: 100%;
  border-color: #5e1f99;
}

body {
  background-color: #232323;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
}

#sec-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

#div-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 1rem;
}

#div-results p {
  font-size: 22px;
  background-color: #5e1f99;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

#div-results p:hover {
  cursor: pointer;
  background-color: #331153;
}

.selected {
  background-color: #37991f !important;
}

#loading,
#class-obs {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#last-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#last-results .results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 1rem;
}

#last-results .results p {
  font-size: 16px;
  background-color: #9957d6;
  border-radius: 6px;
  padding: 10px;
}

#last-results p:hover {
  cursor: pointer;
  background-color: #6c3c98;
}
